{% extends 'base.html' %}

{% block title %} Contact page {% endblock title %}

{% block main %}
    <h1>Welcome to the Contact Page</h1>
    <p>This is the contact page of our website.</p>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">name</label>
        <input type="text" id="name" placeholder="full name" name="name" value="adedeji"><br>
        <label for="email">email</label>
        <input type="email" id="email" placeholder="enter your email" name="email" value="yemi@gmail.com"><br>
        <label for="message">message</label><br>
        <textarea name="comment" id="message" cols="20" rows="10" placeholder="enter your message"></textarea>

<button type="submit">submit</button>
    </form>
    {% include 'testimonies.html' %}
{% endblock main %}